<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>rTemplate</title>
  <style>
    #code { float: left; width: 50% }
    #main { overflow: hidden; padding: 10px;}
    section { margin: 10px 15px; }
    textarea{ width: 100%; height: 160px; font-size: 14px }
    .sub-tmpl { height: 80px; }
    button { padding: 10px 25px; }
  </style>
</head>
<body>
<div id="code">
  <section id="action">
    <button id="render">Render</button>
    <button id="add-sub-tmpl">添加子模板</button>
  </section>
  <section>
    <label for="tmpl">模板:</label>
    <textarea id="tmpl">
<ul>
  <% context.list.forEach(function( item ) { %>
  <li><%= item %></li>
  <% }); %>
</ul>
    </textarea>
  </section>
  <section id="sub-tmpls"></section>
  <section>
    <label for="data">数据:</label>
    <textarea id="data">{ list: [ 'Sogou', 'Google', 'baidu', 'Yahoo', 'Alibaba' ] }</textarea>
  </section>
</div>
<section id="main">
  <h1>渲染结果</h1>
  <div id="result"></div>
</section>
  <script src="jquery-1.11.0.min.js"></script>
  <script src="../rTemplate.js"></script>
  <script>
  ;(function() {
    var $tmpl = $( '#tmpl' ),
        $data = $( '#data' ),
        $result = $( '#result' ),
        $addTmplButton = $( '#add-sub-tmpl' );

    var idTagPrefix = '_sub_tmpl_';
    var $subTmplsSection = $( '#sub-tmpls' );

    if ( !window.console ) {
      console = { log: $.noop };
    }

    rTemplate.supportInclude(function( tag ) {
      var dom = $( '#' + idTagPrefix + tag );
      return dom.val().trim();
    });

    rTemplate.utils.toUpperCase = function( string ) {
      return '@' + string.toUpperCase();
    };

    function addSubTemplate( id, string ) {
      id = String(id).trim();
      string = string === void 0 ? '' : string;
      if ( id.indexOf(idTagPrefix) === 0 && id.length > idTagPrefix.length ) {
        var fragment = document.createElement( 'div' );
        fragment.id = id + '_parent';
        var element = document.createElement( 'textarea' );
        element.id = id;
        element.value = string;
        element.className = 'sub-tmpl';
        var label = document.createElement( 'label' );
        label.setAttribute( 'for', id );
        label.innerText = '子模板' + id.replace( idTagPrefix, '' ) + ':';
        fragment.appendChild( label );
        fragment.appendChild( element );
        $subTmplsSection.prepend( fragment );
        element.focus();
      }
    }

    $addTmplButton.on( 'click', function(e) {
      var id = prompt('子模板 id: ').trim();
      addSubTemplate( idTagPrefix + id );
    });

    var tmplid = $tmpl.attr( 'id ');
    var dataid = $data.attr( 'id' );

    $(document).on( 'keyup', function(e) {
      var target = e.target;
      if ( target.nodeName === 'TEXTAREA' ) {
        if ( target.id && target.id.indexOf( idTagPrefix ) === 0 ) {
          if ( e.which === 46 || e.keyCode === 46 ) {
            if ( $.trim(target.value.trim()) ) {
              if ( confirm('是否要删除此子模板？') ) {
                var parentNode = target.parentNode;
                parentNode.parentNode.removeChild( parentNode );
              }
            }
          }
        }
      }
    });

    function render() {
      $result.html( '' );
      var tmpl = $tmpl.val();
      var value = $data.val();
      if ( !tmpl ) return;
      var data = eval( '(' + value + ')' );
      var html = rTemplate.render( tmpl, data );
      $result.html( html );
    }
    $( '#render' ).on( 'click', render );
    render();


  })();
  </script>
</body>
</html>
